header{
    width:100%;
    height:100px;
    background-color:rgb(225, 223, 223);
}

div#img{
    margin-top:10px;
    width:200px;
    height:50px;
    display:inline;
    float:left; 
}

div#gps {
    margin-top: 20px;
    margin-left: 30px;
    width: 50px;
    height: 40px;
    display: inline;
    float: left;
}
div#adress {
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 40px;
    display: inline;
    float: left;
}

div#contact {
    margin-left: 45%;
    width: 50%;
    height: 40px;
    position:fixed;
    display: inline;
    float: left;
}

div#lang {
    text-align: right;
    margin-top: 30px;
    margin-left: 30%;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#lang2 {
    text-align: right;
    margin-top: 30px;
    margin-left:30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#find {
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#phone {
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#txtphone {
    margin-top: 30px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
    display: inline;
    float: left;
}

div#service {
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    display: inline;
    float: left;
}

div#ordercall {
    margin-top: 30px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
    display: inline;
    float: left;
}
    div#contact{
        display:flex;
    }
    div#contact > div:nth-child(7){
        margin-left:auto;
    }


    div#topmenu {
        width: 100%;
        height: 50px;
        background-color: rgb(207, 206, 206);
    }


div#slide {
    width: 100%;
    height: 60%;
}

div#logo_botom {
    width: 39px;
    height: 26px;
    margin-left: 20%;
    background-image: url(../Img/1200px-Toyota_EU.svg.png);
}

div#txtToyota{
    width:400px;
    margin-left:40%;
    text-align:center;
}

div#cart {
    width: 60%;
    margin-left:19%;
}
div.card{
    display:inline-block;
    /*float:left;*/
    margin-left:5%;
    margin-top:3%;
}

.card :hover {
    /*border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    filter: drop-shadow(0 2px 3px rgb(186, 180, 180));*/
}
div#logoToyota{
    margin-left:30%;
    width:39px;
    height:26px;
}
div#txtService{
    margin-left:4%;
    text-align:center;
}


.services-list {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100%/12 * 6 - 30px);
    padding-right: 0%;
    background-color: #fff;
    background-image: url(../img/bg-services-toyota.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    -webkit-box-shadow: 10px 10px 40px rgba(77, 79, 83, 0.3);
    box-shadow: 10px 10px 40px rgba(77, 79, 83, 0.3);
}

.services-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.services-list__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0;
    padding-left: 80px;
    cursor: pointer;
}
.services-list__icon {
    vertical-align: middle;
    opacity: .4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.services-list__name {
    display: inline-block;
    margin-left: 30px;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
}